<h1>Idade do usuário</h1>

<p>Preencha a idade do usuário no campo abaixo</p>

<form action="/check" method="POST">
  <input type="number" name="age">
  <button type="submit">Enviar Idade</button>
</form>